<?xml version="1.0"?>
<!-- Settings for the Optical flow computation program -->
<OpticalFlow>
  
  <Input>
    <Path inputPath="/users/opid19/dev/flow/data/"/>
    
    <Mode Nx="400" Ny="250" imageType="8-bit">
    	<Files file1 ="frame1.raw" file2 ="frame2.raw"/>
    </Mode>
  </Input>

  <Parameters>
    <Method mode ="2d" run="flow" key="0" />

    <Solver>
      <Iterations inner="5" outer="20"/>
      <Warping levels="20" scaling="0.9" medianRadius="5"/>
      <Model sigma="0.45" alpha ="3.5" e_smooth="0.001" e_data="0.001"/>
    </Solver>
    
  </Parameters>

  <Output>
    <Path outputPath="/users/opid19/dev/flow/data/output/"/>
  </Output>
</OpticalFlow>
